.results-grid{
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    color: #ffffff;
}

.results-grid-item-1{
background-color: rgb(133, 40, 219);
border-radius: 1em;
}
.results-grid-item-2{
background-color: rgb(98, 192, 196);
border-radius: 1em;
}
.results-grid-item-3{
background-color: rgb(231, 12, 56);
border-radius: 1em;
}
.results-grid-item-4{
background-color: rgb(240, 160, 11);
border-radius: 1em;
}

.profile-card-1 {
    width: 25em;
    margin: auto;
    border-radius: 0.5em;
    align-items: center;
   justify-content: center;
  }
 
  .title-1 {
    color: #000000;
    padding: 0.6em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
 
 
  .image-container-1 {
   display: flex;
   align-items: center;
   justify-content: center;
  }
 
  .info-1{
    padding: 1em;
    text-align:left ;
    display: flex;
    flex-direction: column;
  }