.results-grid{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    color: #ffffff;
}

.results-grid-item-1{
background-color: blueviolet;
}
.results-grid-item-2{
background-color: cadetblue;
}
.results-grid-item-3{
background-color: crimson;
}
.results-grid-item-4{
background-color: darkgoldenrod;
}