@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* This allows changes made to the 'Browse by subject' title */
.browse{
  text-align: center;
  color: #6495ED;
  font-family: 'Josefin Sans', sans-serif;
  color: #ff00ff;
}

/* Allows chage the whole grid structure */
.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  align-items: center;
}

/* Allows individual changes to the grid */
.grid-item {
  background-color: #ff00ff;
  border: #ff00ff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #ffff;
}

button{
  background-color: #ff00ff;
  border: #ff00ff;
}
