@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
  font-family: 'Josefin Sans', sans-serif;
}

/* This allows changes made to the 'Browse by subject' title */
.browse{
  text-align: center;
  color: #6495ED;
  font-family: 'Josefin Sans', sans-serif;
  color: #ff00ff;
}

/* Allows chage the whole grid structure */
.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 12em 12em 12em;
  padding: 10px;
  text-align: center;
}

/* Allows individual changes to the grid */
.grid-item {
  background-color: #ff00ff;
  border: #ff00ff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #ffff;
}
/* Change the button layout  */
button {
  background-color: #ff00ff;
  border: #ff00ff;
  cursor: pointer;
  transition:  all 0.3s ease 0s;
}
/* Changes the hove on the button */
button:hover{
  background-color: #ff99ff
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ff00ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:  all 0.3s ease 0s;
}

input[type=submit]:hover {
  background-color: #ff99ff;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}
