@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


/* ----------Every page-------------- */

/* This will change any of the tags stated */
*,h1,h2,h3,h4,h5,p,a,ul,li,div,label{
  font-family: 'Josefin Sans', sans-serif;
}
/* This will cahnge the look of everthing inside the html tag */
html{
  background-color: #13232f;
}
/* This will change the anchor tags */
a {
  text-decoration: none;
  color: #fff;
}
/* The will change the titles that have been use */
.h1 {
  font-size: 3.5em;
  text-align: center;
  padding: 0.5em;
  color: #fff;
}
/* This will change the paragraphs that have been used */
.para {
  color: #fff;
}
/* This will change the style of the header tag  */
header {
  background: #37556b;
  margin-bottom: 50px;
}
/* This will chage what happens after the header is used */
header::after {
  content: '';
  display: table;
  clear: both;
}
/* This will changge what thesyle of the logo */
.logo {
  float: left;
  padding: 10px 0;
}

.menu, .menu-bg, .menu-burger {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  right: 25px;
  top: 25px;
}

.menu-items {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 10px;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: .4s;
  margin-top: 100px;
  transform: translateY(-200%);
  pointer-events: none;
}

.menu-items a {
  text-decoration: none;
  color: #fff;
}

.menu-burger {
  color: white;
  padding-top: 13px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .4s;
  transform-origin: center;
}

.menu-burger.fs {
  transform: rotate(-180deg) translateY(10px);
}

.menu-items div {
  transition: 1s;
  opacity: 0;
  margin-top: 0px;
}

.menu-items.fs {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}

.menu-items.fs div {
  opacity: 1;
  margin-top: 40px;
}

.menu-bg {
    background: #047eda;
    opacity: unset;
    pointer-events: none;
    transition: .3s;
    right: 50px;
    top: 50px;
    transform: translate3d(50%, -50%, 0);
    transform-origin: center center;
}

.menu-bg.fs {
  transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
}

/* Change the button layout  */
button {
  background-color: #13232f;
  border: #13232f;
  cursor: pointer;
  transition:  all 0.3s ease 0s;
  border-radius: 0.5em;
  color: #1ab188;

}
/* Changes the hove on the button */
button:hover{
  background-color: #c1bdba
}
/* This chages the syle of the text input boxes  */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #000000;
}
/* This will change he lable tag insode the form tag */
 form label {
  color: #000000;
}
/* This will change the option tag inside the form tag */
 form option {
  color: #000000;
}
/* Styles the send and reset button  */
#send_button, #reset_button
{
  background-color: #1ab188;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:  all 0.3s ease 0s;
}
/* Styles the hover of the send and reset button  */
#send_button:hover, #reset_button:hover {
  background-color: #c1bdba;
}

/* -------------Tutor page--------------- */

/* This will change the container used on the tutor page  */
.container-tutor {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40em;
  margin: 0 auto;
}
/* This will change the go button on the tutor page  */
.go {
  width: 3.5em;
  height: 2em;
  text-align: center;
  font-size: 1.2em;
}

/* ---------Index page----------- */

/* This allows changes made to the 'Browse by subject' title */
.browse{
  text-align: center;
  color: #1ab188;
  font-family: 'Josefin Sans', sans-serif;
}

/* Allows chage the whole grid structure */
.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 12em 12em 12em;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Allows individual changes to the grid */
.grid-item {
  background-color: #37556b;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #1ab188;
  border-radius: 0.5em;
  border: #c1bdba;
}
/* Will change the signup grid container */
.grid-container-signup{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 18.5em 18.5em;
  padding: 10px;
  text-align: center;
  border-radius: 0.5em;
  align-items: center;
  justify-content: center;
}

/* --------About page--------- */

/* This changes the layout of the social links  */
.social-links-container {
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: 4.7em 4.7em 4.7em 4.7em;
  padding: 2em;
}
/* This changes the individual social links */
.social-links-items {
  padding: 2em;
  cursor: pointer;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .show {
  visibility: visible;

}
.emailFormLabel {
  color: #fff;
}
/*-------------Profile page -----------------*/

.profileContainer {
  margin: auto;
  width: 600px;
  background-color: #37556b;
  padding: 20px;
  font-size: 30px;
  text-align: left;
  border-radius: 0.5em;
  border: #c1bdba;
}
.profileListFlex {display: flex; justify-content: center;}

.profileImg {
  width: 50%;
}


.month {
  margin: auto;
  padding: 20px;
  width: 600px;
  background: #8B008B;
  text-align: center;
}

.month ul {
  margin: auto;
  padding: 0;
  width: 500px;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: auto;
  padding: 20px;
  width: 600px;
  background-color: #BA55D3;
  text-align: left;

}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
}

.days {
  padding: 20px;
  background: #eee;
  margin: auto;
  width: 600px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:13px;
  color: #777;
}

.search-container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 18.5em 18.5em;

}

/* ---------Student Profile---------- */
 .profile-card {
   width: 25em;
   margin: auto;
   background: #f1f1f1f1;
   border-radius: 0.5em;
   align-items: center;
  justify-content: center;
 }

 .title {
   color: #f1f1f1f1;
   padding: 0.6em;
   text-align: center;
   display: flex;
   flex-direction: column;
 }


 .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .info{
   padding: 1em;
   text-align:left ;
   display: flex;
   flex-direction: column;
 }


/* --------Media tags--------- */

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}


/* booking session popup form */
 {box-sizing: border-box;}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  border: 3px solid #f1f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.page {
  padding-left: 50px;
  padding-right: 50px;
}
