@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
  font-family: 'Josefin Sans', sans-serif;
}

.para{
  color: #fff;
}

.nav-container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #37556b;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
  padding-left: 2em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #1ab188;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #1ab188;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #1ab188;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* This allows changes made to the 'Browse by subject' title */
.browse{
  text-align: center;
  color: #1ab188;
  font-family: 'Josefin Sans', sans-serif;
}

/* Allows chage the whole grid structure */
.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 12em 12em 12em;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Allows individual changes to the grid */
.grid-item {
  background-color: #37556b;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #1ab188;
  border-radius: 0.5em;
  border: #c1bdba;
}
/* Will change the signup grid container */
.grid-container-signup{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 18.5em 18.5em;
  padding: 10px;
  text-align: center;
  border-radius: 0.5em;
  align-items: center;
  justify-content: center;
}
/* Change the button layout  */
button {
  background-color: #13232f;
  border: #13232f;
  cursor: pointer;
  transition:  all 0.3s ease 0s;
  border-radius: 0.5em;
  color: #1ab188;
  
}
/* Changes the hove on the button */
button:hover{
  background-color: #c1bdba
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#send_button, #reset_button
{
  background-color: #13232f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:  all 0.3s ease 0s;
}

#send_button:hover, #reset_button:hover {
  background-color: #c1bdba;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}

.social-links-container {
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: 4.7em 4.7em 4.7em 4.7em;
  padding: 2em;
}

.social-links-items {
  padding: 2em;
  cursor: pointer;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .show {
  visibility: visible;

}
html{
    background-color: #13232f;
}

/*Profile ---------------------------------------*/


.profileContainer {
  margin: auto;
  width: 500px;
  text-align: center;
}
.profileListFlex {display: flex; justify-content: center;}

.profileImg {
  width: 50%;
}


.month {
  padding: 70px 25px;
  width: 100%;
  background: #8B008B;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: auto;
  padding: 10px 0;
  background-color: #BA55D3;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.search-container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 18.5em 18.5em;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
